.color-white {
    color: white;
}

.main {
    margin-top: 50px;
}

.uk-button {
    border-radius: 0;
}

a:hover {
    text-decoration: none;
}

.table__head, .table__head ~ .table__main {
    border-bottom: 1px solid #e3e5e7;
}

.table__head {
    padding: 15px 0;
    border-top: 1px solid #e3e5e7;
    font-size: 0.9em;
    background-color: #eeefef;
}

.table__head, .table__head ~ .table__main {
    border-bottom: 1px solid #e3e5e7;
}

.table__main {
    padding: 15px 0;
}

.table__head, .table__main {
    padding-left: 30px;
}

.padding-top {
    padding-top: 5px;
}

.padding-bottom {
    padding-top: 5px;
}

.contacts_wait-load {
    position: relative;
}

.contacts_wait-load:before {
    content: '';
    display: block;
    position: absolute;
    left: 25px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 254, 254, 0.51);
}

.contacts_wait-load:after {
    content: "\f110";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    left: 50%;
    top: 30px;
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    animation: uk-rotate 2s infinite linear;
}

.column-sort {
    cursor: pointer;
}

.sort-desc:after {
    content: "\f107";
    font-family: FontAwesome;
    display: inline;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}

.sort-asc:after {
    content: "\f106";
    font-family: FontAwesome;
    display: inline;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}

.network__id, .network__title, .network__link {
    width: 100%;
}

.network-delete {
    text-align: right;
}

.network-delete button {
    border: none;
    font-size: 0.7em;
    padding: 2px;
    line-height: 18px;
    min-height: 18px;
    cursor: pointer;
}